<!DOCTYPE html>
<html>
	<head>
		<title>Budgie - A Budget Analysis App</title>
		<meta charset="UTF-8"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>

	<body ng-app="myApp" ng-controller="myCtrl" style="background-color:#0097A7;">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="card large col s3 cyan-text text-darken-2">
						<ul class="collection with-header" ng-repeat="(name, item) in allBudgets">
							<li class="collection-header">{{name}}</li>
							<li><a class="collection-item" ng-repeat="(key, item) in allBudgets[name]" ng-click="setSelectedBudget(key, name)">{{key}}</a></li>
						</ul>
					</div>
					<div class="card col s9" ng-show="!hasSelectedBudget">
						<div class="card-content center-align cyan-text text-darken-2">
							<h5 class="heading">Budget for {{ selectedBudget.month + " " + selectedBudget.year }}</h5>
							<h5 class="heading">Income:</h5>
							<table class="striped responsive">
								<thead>
									<tr>
										<td data-field="income">Source</td>
										<td data-field="proposed">Proposed inflow</td>
										<td data-field="actual">Actual inflow</td>
										<td data-field="variance">Variance</td>
										<td data-field="varcent">Variance percentage</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="(name, item) in selectedBudget.income">
										<td>{{ name }}</td>
										<td>{{ item.proposed | currency }}</td>
										<td>{{ (item.actual | currency) || "-" }}</td>
										<td>{{ (item.variance | currency) || "-" }}</td>
										<td>{{ item.varcent + "%" || "-" }}</td>
									</tr>
								</tbody>
							</table>
							<h5 class="heading">Expense:</h5>
							<table class="striped responsive">
								<thead>
									<tr>
										<td data-field="expense">Item</td>
										<td data-field="proposed">Proposed expenditure</td>
										<td data-field="actual">Actual expenditure</td>
										<td data-field="variance">Variance</td>
										<td data-field="varcent">Variance percentage</td>
										<td data-field="priority">Priority</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="(name, item) in selectedBudget.expense">
										<td>{{ name }}</td>
										<td>{{ item.proposed | currency }}</td>
										<td>{{ (item.actual | currency) || "-" }}</td>
										<td>{{ (item.variance | currency) || "-" }}</td>
										<td>{{ item.varcent + "%" || "-" }}</td>
										<td>{{ item.priority || "-" }}</td>
									</tr>
								</tbody>
							<table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
		<script src="../js/budget.js"></script>
		<script src="../js/current.js"></script>
	</body>
</html>